<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuhr.signup.mapper.UserinfoMapper">
  <resultMap id="BaseResultMap" type="com.xuhr.signup.model.Userinfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_telephone" jdbcType="VARCHAR" property="userTelephone" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
  </resultMap>
  <select id="getNameById" resultType="String" parameterType="String">
    SELECT user_name FROM userinfo WHERE user_id=#{userId}
  </select>
</mapper>